.grid-container, .grid-container-triple {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(241, 241, 241);
  }

  .grid-container-triple{
    grid-template-columns: 30% 40% 30%;
  }

  .grid-item, .grid-item-triple {
    margin: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color:rgba(0, 0, 0, 0.2);
    border-width: 1px;
    border-style: solid;
    min-width: 450px;
    overflow: hidden;
  }

  .grid-item-triple {
    min-width: 300px;
  }

  @media screen and (max-width: 1200px) {
    .grid-container, .grid-container-triple {
        display: flex;
        flex-flow: column wrap;
        flex: 1 1 1;
        
    }
      
  }
