// Your variable overrides
$sidebar-bg-color: rgb(92, 92, 92);

.pro-sidebar > .pro-sidebar-inner{
    background-color: $sidebar-bg-color;
}

.pro-icon-wrapper {
    display: inline !important;
}
nav > ul {
    display: list-item;
    list-style-type: none;
}